body
{
#    background: #d1d1d1 url(images/body-bg.gif) top repeat-x;
    font-family: helvetica,verdana,sans-serif;
    font-size: 90%;
    color: #222;
#    margin-top: 0px;
}

table
{ 
  text-align: left;
  margin: 0 0 0 0;
}

.client-list
{
    text-align: left;
    border: 1;
}

.sub-exp
{
    font-family: consolas,monaco,courier,fixed;
}

.client-list td
{
    vertical-align: top;
    padding: 2px 3px 2px 3px; # t r b l
}

.client-list th
{
    vertical-align: center;
    padding: 2px 3px 2px 3px;
}

.numeric
{
    text-align: right;
}

.number
{
    text-align: right;
    font-family: consolas,monaco,courier,fixed;
}

.sub-list
{
    padding: 2px 0px 2px 0px !important;
    border-spacing: 0 0;
}

.even
{
    background-color: rgb(237,243,254);
}

.odd
{
    background-color: white;
}
