##
# Avis service configuration.
#
# This file contains configuration settings for the Avis service
# daemon. Uncomment and modify settings as required.
##

# The port to run Avis service on
# Port=2917

## 
# Default client connection options
##

# Avis-specific options

# Max number of connection-wide keys
# Range: 0 - 1K
# Connection.Max-Keys=1K

# Max number of keys for a subscription
# Range: 0 - 1K
# Subscription.Max-Keys=256

# Standard options

# Max packet length acceptable from a client
# Range: 1K - 10M
# Packet.Max-Length=1M

# Range: 16 - 2K
# Subscription.Max-Count=2K

# Range: 1K - 4K
# Subscription.Max-Length=2K

# Range: 1K - 1MB
# Receive-Queue.Max-Length=1M

# Set whether the TCP NO_DELAY flag is enabled on the server side. 1 =
# send immediately (TCP NO_DELAY = true), 0 = do not necessarily send
# immediately, buffer data for optimal throughput (TCP NO_DELAY =
# false). Set this to 1 if you experience lag with "real time"
# applications that require minimal delivery latency.
# Range: 0 - 1
# TCP.Send-Immediately=0

# Currently a number of connection options are not implemented by
# Avis. You can change them, but they will not be enforced by the
# server.

# Not implemented

# Range: MAX - MAX
# Attribute.Max-Count=MAX   
# Range: MAX - MAX
# Attribute.Name.Max-Length=MAX
# Range: MAX - MAX
# Attribute.Opaque.Max-Length=MAX
# Range: MAX - MAX
# Attribute.String.Max-Length=MAX
# Values: "oldest", "newest", "largest", "fail"
# Receive-Queue.Drop-Policy="oldest"
# Range: MAX - MAX
# Receive-Queue.High-Water=MAX
# Range: MAX - MAX
# Receive-Queue.Low-Water=MAX
# Values: "oldest", "newest", "largest", "fail"
# Send-Queue.Drop-Policy=oldest
# Range: MAX - MAX
# Send-Queue.High-Water=MAX
# Range: MAX - MAX
# Send-Queue.Low-Water=MAX
# Range: MAX - MAX
# Send-Queue.Max-Length=MAX
