@import "screen.css";

html
{
    background-color: white;
}

body
{
    margin: 10px;
    border: 0px;
    color: black;
}

#nav
{
    display: none
}

a 
{
    text-decoration: none;
    border: none;
}

.small-scrolling
{
    overflow-y: inherit;
    height: inherit;
    width: inherit;
    border: none;
}

pre.exception-trace
{
    overflow-x: hidden;
    max-width: inherit;
}

.contracted
{
    display: inherit;
}

.expander
{
    display: none;
}
